* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #2f363e;
    padding: 10px;
}

.box {
    width: 100%;
    max-width: 540px;
    background: #2f363e;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    box-shadow: 
        25px 25px 75px rgba(0, 0, 0, 0.25),
        10px 10px 7px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}


.box h2 {
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px 0 0 30px;
    font-size: 1em;
    box-shadow: 
        5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(0, 0, 0, 0.5),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    outline: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    box-shadow: 
        5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(0, 0, 0, 0.5),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
        background-color: orange;
        transition: 1ms;
}
button:hover {
    background-color: rgb(221, 147, 11);
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: white;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked{
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}
